/* Import Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 250;
  src: url("https://fonts.gstatic.com/s/inter/v3/UyBMtLsHKBKXelqf4x7VRQ.woff2") format("woff2"), url("https://fonts.gstatic.com/s/inter/v3/UyBMtLsHKBKXelqf4x6p.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Reckless Neue";
  font-style: normal;
  font-weight: 300;
  src: url("https://quiz.hairqare.co/RecklessNeue-Book.otf") format("opentype");
  font-display: swap;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: "Reckless Neue", sans-serif;
  margin-bottom: 1rem;
}
p {

  margin-bottom: 1rem;
}


/* Styles for questions */
.question {
  
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  animation: w3-animate-right 0.7s ease-in-out;
}

.subtext {
  font-size: 0.6rem;
  color: gray;
}



.question.active {
  display: block;
}

/* Styles for answers */
.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem;
}



label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid orange;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

label:hover {
  background-color: #f1f1f1;
}

input[type="radio"] {
  display: none;
}

label.selected {
  background-color: linear-gradient(180deg, #f2b485, #e5925b);
  color: #fff;
  border-color: linear-gradient(180deg, #f2b485, #e5925b);
}

#q0-answer1 {
  display: block;
  background-color: #e5925b;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid orange;
}

#q0-answer1:hover {
background-color: #f2b485;

}

.button-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

#submit-btn {
  padding-right: 30px;
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}








/* Styles for form */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label,
input[type="email"],
input[type="text"],
button {
  width: 100%;
  border-radius: 1rem;
  
}

input[type="email"],
input[type="text"],
button {
  padding: 1rem;
  
  border: 1px solid orange;
  border-radius: 1rem;}

a {
  color: #e5925b;
}




  
button {
    background-color: #e5925b;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid orange;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #f2b485;
  }
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 35%; /* add a margin-top property */
    margin-bottom: 0%; /* add a margin-top property */
  }
  
  .image-container img {
    width: 20%;
    height: auto;
    object-fit: contain;
    margin-right: 5px;
    border-radius: 25px; /* add border-radius property to make the edges rounded */
  }

  
  
  
  @media screen and (max-width: 768px) {
    body {
      padding-top: 10%;}
    
      .question {
      width: 100%;
      margin-top: 10%;}
    
    .image-container {
      flex-direction: column;
      align-items: center;
      margin-top: 140%;
    }
  
    .image-container img {
      width: 70%;
      margin: 10px 0;
    }
  }

  
