/* Import Fonts */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/inter/v3/UyBMtLsHKBKXelqf4x7VRQ.woff2") format("woff2"), url("https://fonts.gstatic.com/s/inter/v3/UyBMtLsHKBKXelqf4x6p.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Reckless Neue";
  font-style: normal;
  font-weight: 400;
  src: url("https://quiz.hairqare.co/RecklessNeue-Book.otf") format("opentype");
  font-display: swap;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: "Reckless Neue", sans-serif;
  margin-bottom: 1rem;
}
p {

  margin-bottom: 1rem;
}


/* Styles for questions */
.question {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  animation: swipe-in 0.5s ease-in-out;
}

@keyframes swipe-in {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.question.active {
  display: block;
}

/* Styles for answers */
.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid orange;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

label:hover {
  background-color: #f1f1f1;
}

input[type="radio"] {
  display: none;
}

label.selected {
  background-color: linear-gradient(180deg, #f2b485, #e5925b);
  color: #fff;
  border-color: linear-gradient(180deg, #f2b485, #e5925b);
}

/* Styles for form */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label,
input[type="email"],
input[type="text"],
button {
  width: 100%;
  border-radius: 1rem;
  background-color: linear-gradient(180deg, #f2b485, #e5925b) !important;
}

input[type="email"],
input[type="text"],
button {
  padding: 1rem;
  
  border: 1px solid orange;
  border-radius: 1rem;}

button {
    background-image: linear-gradient(180deg, #f2b485, #e5925b);
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #e5925b;
  }
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 600px; /* add a margin-top property */
  }
  
  .image-container img {
    width: 90%;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 25px; /* add border-radius property to make the edges rounded */
  }
  
  
  @media screen and (max-width: 768px) {
    .image-container img {
      width: 100%;
      margin: 10px 0;
      margin-top: 20px; /* add a margin-top property */
    }
  }
  
